{% extends "layout.html" %}

{% block title %}Reseptin muokkaus{% endblock %}

{% block content %}
<h2>{{ item.title }}</h2>
<h3>Reseptin muokkaus</h3>

<form action="/update_item" method="post">
  <p>
    Otsikko: <br />
    <input type="text" name="title" value="{{ item.title }}" maxlength="50" required/>
  </p>
  <p>
    Ainekset: <br />
    <textarea name="ingredients" rows="8" cols="60" maxlength="1000" required>{{ item.ingredients }}</textarea>
  </p>
  <p>
      Valmistusohje: <br />
      <textarea name="recipe" rows="20" cols="60" maxlength="1000" required>{{ item.recipe }}</textarea>
  </p>
  <p>
      Luokittelu: <br />
      <input type="text" name="classification" value="{{ item.classification }}" maxlength="50" required/>
  </p>
  <input type="hidden" name="item_id" value="{{ item.id }}" />
  {% for class in classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(valitse)</option>
    {% for option in all_classes[class] %}
      {% if classes[class] == option %}
      <option value="{{ class }}:{{ option }}" selected>{{ option }}</option>
      {% else %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
      {% endif %}
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="update" value="Päivitä resepti" />
  <input type="submit" name="back" value="Takaisin" />
</form>
{% endblock %}