<!DOCTYPE html>
<html>

<head>
  <title>Uusi resepti</title>
</head>

<body>
  <h1>Uusi resepti</h1>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Ainekset: <br />
      <textarea name="ingredients" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
        Valmistusohje: <br />
        <textarea name="recipe" rows="20" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>
        Luokittelu: <br />
        <input type="text" name="classification" maxlength="50" required/>
    </p>
    <p>
      Keittiö: <br />
      <select name="cuisine">
        <option value="">(valitse)</option>
        <option value="italialainen">italialainen</option>
        <option value="ranskalainen">ranskalainen</option>
        <option value="kiinalainen">kiinalainen</option>
        <option value="amerikkalainen">amerikkalainen</option>
      </select>
    </p>
    <p>
      Vaikeusaste: <br />
      <select name="difficulty">
        <option value="">(valitse)</option>
        <option value="helppo">helppo</option>
        <option value="haastava">haastava</option>
        <option value="vaikea">vaikea</option>
      </select>
    </p>
    <input type="submit" value="Luo resepti" />
  </form>

  <p>
    <a href="/">Takaisin</a>
  </p>
  
</body>

</html>