<!DOCTYPE html>
<html>

<head>
  <title>Uusi resepti</title>
</head>

<body>
  <hl>Uusi resepti</hl>
  <form action="/create_item" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" />
    </p>
    <p>
      Ainekset: <br />
      <textarea name="ingredients" rows="8" cols="60"></textarea>
    </p>
    <p>
        Valmistusohje: <br />
        <textarea name="recipe" rows="20" cols="60"></textarea>
    </p>
    <p>
        Luokittelu: <br />
        <input type="text" name="classification" />
    </p>
    <input type="submit" value="Luo resepti" />
  </form>
</body>

</html>